.custom-checkbox {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.custom-checkbox svg {
  cursor: pointer;
}

.custom-checkbox [type="checkbox"] {
  display: none;
}

.custom-checkbox [type="checkbox"] + svg > path {
  stroke-width: 4;
}

.custom-checkbox [type="checkbox"] + svg > path.check {
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%, 150%;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.custom-checkbox [type="checkbox"]:not(:checked) + svg > path.check {
  stroke-dashoffset: 100%;
}

.custom-checkbox [type="checkbox"]:checked + svg > path.check {
  stroke-dashoffset: 0%;
}