.custom-checkbox {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.custom-checkbox svg {
  cursor: pointer;
}

.custom-checkbox [type="checkbox"] {
  display: none;
}

.custom-checkbox [type="checkbox"] + svg > * {
  stroke: lightgrey;
  transition: stroke 0.2s ease-in-out;
}

.custom-checkbox [type="checkbox"]:checked + svg > * {
  stroke: orange;
}

.custom-checkbox [type="checkbox"] + svg > path {
  stroke-width: 16;
}

.custom-checkbox [type="checkbox"] + svg > path.check {
  stroke-dashoffset: 100%;
  stroke-dasharray: 100%, 150%;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.custom-checkbox [type="checkbox"]:not(:checked) + svg > path.check {
  stroke-dashoffset: 100%;
}

.custom-checkbox [type="checkbox"]:checked + svg > path.check {
  stroke-dashoffset: 0%;
}

.radio-buttons {
  display: inline-block;
}

.custom-radio {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.custom-radio label {
  cursor: pointer;
}

.custom-radio [type="radio"] svg {
  cursor: pointer;
}

.custom-radio [type="radio"] {
  display: none;
}

.custom-radio [type="radio"] + svg > * {
  stroke: lightgrey;
  transition: stroke 0.2s ease-in-out;
}

.custom-radio [type="radio"]:checked + svg > * {
  stroke: orange;
}

.custom-radio [type="radio"] + svg > .outer-circle {
  stroke-width: 8;
}

.custom-radio [type="radio"] + svg > .inner-circle {
  transition: stroke-width 0.2s ease-in-out;
  stroke-width: 8;
}

.custom-radio [type="radio"]:not(:checked) + svg > .inner-circle {
  stroke-width: 0;
  stroke-linecap: round;
}

.custom-radio [type="radio"]:checked + svg > .inner-circle {
  stroke-width: 50;
  stroke-linecap: round;
}