$disabled-color: lightgrey;
$active-color: orange;

.custom-checkbox {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;

  svg {
    cursor: pointer;
  }

  [type="checkbox"] {
    display: none;

    & ~ svg {
      & > * {
        stroke: $disabled-color;
        transition: stroke 0.2s ease-in-out;
      }

      & > path {
        stroke-width: 16;

        &.check {
          stroke-dashoffset: 100%;
          stroke-dasharray: 100%, 150%;
          transition: stroke-dashoffset 0.2s ease-in-out;
        }
      }
    }

    &:checked ~ svg {
      & > * {
        stroke: $active-color;
      }

      & > path.check {
        stroke-dashoffset: 0%;
      }
    }

    &:not(:checked) ~ svg > path.check {
      stroke-dashoffset: 100%;
    }
  }
}

.radio-buttons {
  display: inline-block;
}

.custom-radio {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  [type="radio"] {
    display: none;

    & ~ svg {
      cursor: pointer;

      & > * {
        stroke: $disabled-color;
        transition: stroke 0.2s ease-in-out;
      }

      & > .outer-circle {
        stroke-width: 8;
      }

      & > .inner-circle {
        transition: stroke-width 0.2s ease-in-out;
        stroke-width: 8;
      }
    }

    &:checked ~ svg {
      & > * {
        stroke: $active-color;
      }

      & > .inner-circle {
        stroke-width: 50;
        stroke-linecap: round;
      }
    }

    &:not(:checked) ~ svg {
      & > .inner-circle {
        stroke-width: 0;
        stroke-linecap: round;
      }
    }
  }
}

.collapsable {
  & > .head {
    display: block;
    padding: 15px;
    background-color: $disabled-color;
    cursor: pointer;
  }

  input {
    display: none;

    & ~ .content {
      display: flex;
      background-color: $active-color;
      transition: height 0.2s ease-in-out;
      height: 0;
      overflow: hidden;
      justify-content: center;
      align-items: center;
    }

    &:checked {
      & ~ .content {
        height: 300px;
      }
    }
  }
}

@mixin tab($number) {
  #{"#tab" + $number}:checked {
    & ~ .tabs > [for=#{"tab" + $number}] {
      &::after {
        width: 100%;
      }
    }
  }
}

.tabs-radio {
  input {
    display: none;
  }

  @include tab(1);
  @include tab(2);
  @include tab(3);

  .tabs {
    display: flex;

    label {
      user-select: none;
      position: relative;
      flex-grow: 1;
      text-align: center;
      cursor: pointer;

      &::after {
        position: absolute;
        content: '';
        width: 0;
        transition: width 0.2s ease-in-out;
        background-color: $active-color;
        bottom: 0;
        height: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .content {
    width: 100%;
  }
}