$disabled-color: lightgrey;
$active-color: orange;

$apricot: #ffcdb2;
$peach: #ffb4a2;
$parrot-pink: #e5989b;
$english-lavender: #b5838d;
$old-lavender: #6d6875;

.custom-checkbox {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;

  svg {
    cursor: pointer;
  }

  [type="checkbox"] {
    display: none;

    & ~ svg {
      & > * {
        stroke: $disabled-color;
        transition: stroke 0.2s ease-in-out;
      }

      & > path {
        stroke-width: 16;

        &.check {
          stroke-dashoffset: 100%;
          stroke-dasharray: 100%, 150%;
          transition: stroke-dashoffset 0.2s ease-in-out;
        }
      }
    }

    &:checked ~ svg {
      & > * {
        stroke: $active-color;
      }

      & > path.check {
        stroke-dashoffset: 0%;
      }
    }

    &:not(:checked) ~ svg > path.check {
      stroke-dashoffset: 100%;
    }
  }
}

.radio-buttons {
  display: inline-block;
}

.custom-radio {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  [type="radio"] {
    display: none;

    & ~ svg {
      cursor: pointer;

      & > * {
        stroke: $disabled-color;
        transition: stroke 0.2s ease-in-out;
      }

      & > .outer-circle {
        stroke-width: 8;
      }

      & > .inner-circle {
        transition: stroke-width 0.2s ease-in-out;
        stroke-width: 8;
      }
    }

    &:checked ~ svg {
      & > * {
        stroke: $active-color;
      }

      & > .inner-circle {
        stroke-width: 50;
        stroke-linecap: round;
      }
    }

    &:not(:checked) ~ svg {
      & > .inner-circle {
        stroke-width: 0;
        stroke-linecap: round;
      }
    }
  }
}

.collapsible {
  & > .head {
    display: block;
    padding: 15px;
    background-color: $active-color;
    cursor: pointer;
    color: white;
    font-size: 20px;
  }

  input {
    display: none;

    & ~ .content {
      display: flex;
      transition: all 0.15s ease-in-out;
      max-height: 0;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 40px;
      padding-right: 40px;
      box-sizing: border-box;
      overflow: hidden;
    }

    &:checked {
      & ~ .content {
        padding-top: 35px;
        padding-bottom: 35px;
        max-height: 700px;
      }
    }
  }
}

@mixin tab($number) {
  #{"#tab" + $number}:checked {
    & ~ .tabs > [for=#{"tab" + $number}] {
      color: black;

      &::after {
        width: 100%;
      }
    }

    & ~ .contents > #{"#tab" + $number + "-content"} {
      display: initial;
    }
  }
}

.tabs-radio {
  input {
    display: none;
  }

  @include tab(1);
  @include tab(2);
  @include tab(3);

  .tabs {
    display: flex;
    height: 45px;

    label {
      display: inline-block;
      width: calc(100% / 3);
      position: relative;
      user-select: none;
      cursor: pointer;
      font-size: 15px;
      color: $disabled-color;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;

      &:hover {
        color: darken($disabled-color, 20%);
      }

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $disabled-color;
      }

      &::after {
        position: absolute;
        content: '';
        width: 0;
        transition: width 0.2s ease-in-out;
        background-color: $active-color;
        bottom: 0;
        height: 7px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .contents {
    width: 100%;
    text-align: center;

    & > * {
      display: none;
    }
  }
}

/* Responsiveness */
main {
  max-width: 740px;
  margin: auto;
  padding: 10px 20px 50px;
}

/* Styling */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 300;
}

header {
  height: 170px;
  text-align: center;
  line-height: 170px;
  font-size: 50px;
  margin-bottom: 50px;
}

section + section {
  margin-top: 100px;
}